html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul{margin:0;padding:0;vertical-align:baseline;border:0;font-family:Arial, Helvetica, sans-serif;font-size:100%;font-size: inherit;font-size-adjust: inherit;font-stretch: inherit;font-style: inherit;font-variant: inherit;font-weight: inherit;line-height: inherit;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
ol,ul{list-style: none;}
blockquote,q{quotes: none;}
blockquote:before,blockquote:after,q:before,q:after{content: '';content: none;}
table{border-collapse:collapse;border-spacing: 0;}
a{text-decoration: none;}

.clear{
  clear:both;
}

html, body{
  height: 100%;
}

body{
  background-color: #4ac8f2;
  font-family: 'Trebuchet MS', sans-serif;
  color: white;
}

  
h1, h2, h3, h4{
  font-family: Georgia, serif;
  color: white;
}
h1{
  padding-top: 53px;
  font-size: 40px;
  border-bottom: solid 5px white;
  width: 80%;
  padding-left: 20px;
}
ul#nav{
  padding-top: 40px;
}

ul#nav li{
  float:left;
  display: block;
  padding: 0 15px;
}

ul#nav li a
{
  font-size: 40px;
  color: #fe15ff;
  background-color: #fffc15;
  padding: 2px 5px;
  text-decoration: none;
}
li#vita{
  -webkit-transform:rotate(3deg);
  -moz-transform:rotate(3deg);
  -o-transform:rotate(3deg);
  -ms-transform:rotate(3deg);
}
li#knowledge{
  -webkit-transform:rotate(-4deg);
  -moz-transform:rotate(-4deg);
  -o-transform:rotate(-4deg);
  -ms-transform:rotate(-4deg);
}
li#spare{
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  -o-transform:rotate(5deg);
  -ms-transform:rotate(5deg);
}

ul#nav li a:hover
{
  color: #fffc15;
  background-color: #fe15ff;
}
#container{
  padding-top: 80px;
  padding-bottom: 22px;
}

#left_box{
  float:left;
  width: 400px;
}
#left_box img{
  border: solid 10px white;
 float: right;
 -webkit-box-shadow: 8px 8px 8px #666;
 -webkit-transform: rotate(5deg);
 -moz-box-shadow: 8px 8px 8px #666;
 -moz-transform: rotate(5deg);
 margin-right: 30px;
}
#content_box{
  margin-left: 400px;
}

#content_box ul{
  margin-left: 30px;
  padding-bottom: 30px;
  list-style-type: square;
  list-style-position: outside;
}
h2{
  padding: 0px 0 39px 0;
  font-size: 30px;
}
h3, h4{
  font-size: 20px;
  padding-bottom: 15px;
}

p{
  color: white;
  font-size: 16px;
  width: 480px;
  line-height: 1.2em;
  padding-bottom: 10px;
}
dl{
  width: 520px;
}
dd{
  float:left;
  background-color: black;
  font-weight: bold;
  padding: 2px 2px;
  font-family: monospace;
}
dt{
  padding-left: 180px;
  padding-bottom: 20px;
}
#stoerer{
  position: absolute;
  top: 2px;
  left: 70%;
  width:120px;
  height: 120px;
  background: url(/img/inside_star.png) 0 0 transparent;
}

footer{
  position: fixed;
  left: 400px;
  bottom:0;
  height: 22px;
}

#footer{
  background-color: white;
  width: 600px;
  height: 22px;
  padding-top: 5px;
}
div#copy{
  float:left;
}
#copy p{
  color: #4ac8f2;
  padding-left: 5px;
  font-size: 12px;
}
#contact{
  float: right;
  padding-right: 5px;
}
#contact a{
  color: #fe15ff;
  font-size: 12px;
}

label{
  float:left;
  width: 120px;
}
input, textarea{
  width: 250px;
  border: solid 2px #fe15ff;
  font-size: 16px;
  line-height: 1.5
}
textarea{
  height: 210px;
}
button{
  border: solid 2px #fe15ff;
  background-color: #fe15ff;
  color: #fffc15;
}
button:hover{
  border: solid 2px #fffc15;
  background-color: #fffc15;
  color: #fe15ff;
  cursor: pointer;
}