{% extends 'layout.twig' %}
{% block content %}
<h2>Sorry 404</h2>
<p>Mir als Webserver tut es unendlich Leid das ich die Seite nicht finden konnte. Versuch doch eine andere.</p>
{% endblock %}
{% block left %}
<img src="/img/contact.jpg" alt="contact" />
{% endblock %}