{% extends layout %}

{% block content %}
<h2>Contact</h2>
{% if sent %}
<p>Vielen Dank</p>
{% else %}
<form action="{{ path('contact') }}" method="post">
  {{ form_row(form.email) }}
  {{ form_row(form.message) }}
  <button class="submit" type="submit">senden</button>
  {{ form_rest(form) }}
</form>
{% endif %}
{% endblock %}

{% block left %}
<img src="/img/contact.jpg" alt="contact" />
{% endblock %}