{% extends 'layout.twig' %}
{% block content %}
<h2>Knowledge</h2>
<h3>Programming</h3>
<ul>
  <li>PHP</li>
  <li>Javascript</li>
  <li>Bash</li>
</ul>
<h4>und wenns denn sein soll:</h4>
<ul>
  <li>C</li>
  <li>Java</li>
  <li>Perl</li>
</ul>
<h3>Frameworks</h3>
<ul>
  <li>Symfony 1.0 - 2.0</li>
  <li>Silex</li>
  <li>Doctrine ORM</li>
  <li>JQuery</li>
  <li>Prototype</li>
  <li>extJS</li>
</ul>
<h3>weiteres Wissen</h3>
<p>Datenbankentwicklung, Grundlagen zu UML, natürlich (my)SQL. Die Konfiguration von Apache ist kein Geheimnis und GIMP ist ein gern genutztes Programm. Sicherer Umgang mit SVN und Einarbeitung in git.</p>
<h3>Erfahrung</h3>
<ul>
    <li>Softwareentickler (<a href="http://www.payone.de">Payone</a>)</li>
    <li>Senior Software Developer (<a href="http://www.spot-media.de">spot-media ag</a>)
	<ul>
	    <li>tchibo-ideas (<a href="http://www.tchibo-ideas.de">www.tchibo-ideas.de</a>)</li>
	    <li>tchibo-reisen (backend)</li>
	</ul>
    </li>
</ul>
{% endblock %}
{% block left %}
<img src="/~srohweder/monofone4.0/web/img/knowledge.jpg" alt="knowledge is power" />
{% endblock %}
