{% extends 'layout.twig' %}
{% block content %}
<h2>knowledge</h2>
<h3>programming</h3>
<ul>
  <li>PHP</li>
  <li>Javascript</li>
  <li>Bash</li>
</ul>
<h3>frameworks</h3>
<ul>
  <li>TYPO3 Flow</li>
  <li>Symfony</li>
  <li>Silex</li>
  <li>Doctrine ORM</li>
  <li>JQuery</li>
  <li>EmberJS</li>
</ul>
<h3>weiteres Wissen</h3>
<p>Datenbankentwicklung, Grundlagen zu UML, natürlich (my)SQL. Die Konfiguration von Apache ist kein Geheimnis und GIMP ist ein gern genutztes Programm. Sicherer Umgang mit SVN und Einarbeitung in git. Einsatz von Xdebug und Virtualisierung für die Entwicklung.</p>

{% endblock %}
{% block left %}
<img src="/img/knowledge.jpg" alt="knowledge is power" />
{% endblock %}
