<!DOCTYPE HTML>
<html>
  <head>
    <title>monofone</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    {% if isMobile %}
    <link rel="stylesheet" type="text/css" href="/css/mobile.css" />
    {% endif %}
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <!--
    Deutsch:
    Vielen Dank für den Blick in den Quellcode, die Seite läuft auf einer 
    kleinen Application die mit Silex (silex-project.org) umgesetzt wurde.
    Als Templatesprache kommt Twig zum Einsatz, die Effekte wurden versucht alle
    mittels CSS 3 umzusetzen, deswegen ist ein aktueller Browser die 
    Vorraussetzung für ein schönes Erscheinungsbild.
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    English
    Thank you for checking the source code, the site is build using 
    silex(silex-project.org). For templating Twig is used and all effects are
    made with CSS 3, so for a complete enjoyment you need a modern browser.
    -->
  </head>
  <body>
    <div id="wrap">
      <header>
        <h1>monofone</h1>
        <div id="stoerer"></div>
        <nav>
          <ul id="nav">
            <li id="vita"><a href="{{ path('page', {'name': 'vita' }) }}">vita</a></li>
            <li id="knowledge"><a href="{{ path('page', {'name': 'knowledge' }) }}">knowledge</a></li>
            <li id="spare"><a href="{{ path('page', {'name': 'spare-time' }) }}">spare time</a></li>
          </ul>
        </nav>
      </header> 
      <div class="clear"></div>
      <div id="container">
        <div id="left_box">
          {% block left %}{% endblock %}
        </div>
        <div id="content_box">
          <article>
            {% block content %}{% endblock %}
          </article>
        </div>
      </div>
    </div>
    <footer>
      <div id="footer">
        <div id="copy">
          <p>&copy; 2011 Sören Rohweder</p>
        </div>
        <div id="contact">
          <a href="{{ path('contact') }}">contact</a>
        </div>
      </div>
    </footer>
  </body>
</html>
