{% extends 'layout.twig' %}
{% block content %}
<h2>spare time</h2>
<p>So ich Sie denn habe verbringe ich Sie gern mit unterschiedlichen Tätigkeiten.
Programmieren von Microcontrollern ist eine davon. Zur Zeit ist es eine 
Drehzahlregelung die zwei Modellverbrennungsmotoren für ein Rennboot 
synchronisieren soll.</p>  
<p>Lenkdrachen sind auch ein schöner Zeitverteib und wo wir gerade draussen sind,
der Sommer gehört dem Segeln.</p>
<p>Wenn nun noch Zeit vorhanden ist wird repariert und gebastelt. Was? Was 
  gebraucht wird oder kaputt ist.</p>
{% endblock %}
{% block left %}
<img src="/img/spare-time.jpg" alt="free fun" />
{% endblock %}