{% extends 'layout.twig' %}
{% block content %}
<h2>vita</h2>
<h3>Berufspraxis</h3>
<dl>
  <dt>Jan 2011 - heute</dt>
  <dd>Softwareentwickler bei der Payone GmbH und Co. KG</dd>
  <dt>Mai 2006 - Dez 2010</dt>
  <dd>
  <p>spot-media AG
Softwareentwickler, seit August 2009 in der Position eines Senior Softwareentwicklers</p>
  <ul>
    <li>technisch verantwortlicher Entwickler und Projektverantwortung für Maintenance und
      Weiterentwicklung einer im Hause entwickelten Community-Plattform</li>
    <li>Softwareentwickler im Bereich Redaktionssysteme und kundenspezifische Lösungen</li>
    <li>selbstverantwortliches und zielorientiertes Arbeiten</li>
    <li>eigenständiges Erarbeiten neuer Techniken</li>
    <li>Kunden- und Qualitätsorientiertes Denken</li>
  </ul>
  <p>Im Zusammenhang mit diesen Tätigkeiten werden das Framework symfony(1.0,1.3), PHP 5.2, Apache 2.2
sowie MySQL 5.1 eingesetzt.</p>
  <p>Weiterhin bin ich in der Firma für die Pflege der Vorlagen und Schulung für OpenOffice verantwortlich und
halte in diesem Rahmen Schulungen für die Mitarbeiter aus dem Bereich Projektmanagement ab.</p></dd>
</dl>
<h3>Ausbildung</h3>
<dl>
  <dt>Mär 2002 - Jun 2007</dt>
<dd><p>Studium der technischen Informatik an der HAW Hamburg mit einem
Abschluss des Studiums als Bachelor of Science</p>
<p>Thema der Abschlussarbeit: Mikrocontroller basierte bidirektionale Kommunikation mobiler Endgeräte mit
  Satellitennetzen.</p><p> Gegenstand der Arbeit war es, eine Bluetoothverbindung zu einem Satellitenmodul zu
entwickeln, um eine leichtere Kommunikation zu ermöglichen.</p></dd>
<dt>Jun 2001 - Feb 2002</dt>
<dd>Zivildienst</dd>
<dt>2000 - Apr 2006</dt>
<dd>Selbständige Tätigkeit im Bereich Netzwerkadministration und Webanwendungen unter anderem für die
spot-media AG</dd>
<dt>Feb 1999 - Mär 2001</dt>
<dd>Fachabitur Fachrichtung Metalltechnik</dd>
<dt>Feb 1998 - Okt 1998</dt>
<dd>KälteTech
Ausbildung, danach Angestellter als Kälteanlagenbauer</dd>
<dt>Aug 1994 - Feb 1998</dt>
<dd>Stettin Kälteanlagen/ KälteTech
Ausbildung zum Kälteanlagenbauer</dd>
</dl>
{% endblock %}
{% block left %}
<img src="/img/s_rohweder.jpg" alt="monofone aka s. rohweder" />
{% endblock %}