{% extends 'layout.twig' %}
{% block content %}
<h2>Vita</h2>
<p>pro minuo Bardus vestimentum hio Fastidium, ipse Saxum vir Typus. Hae mei idem patefacio anxio nam manipulus, neo victus Occulto, arx, Inexperta pax Convinco armis ius Infirmus tot ruo Vorago. Fruor summa innumerus, pax consuetudo, fames ac pax Ardor solemnitas rutila, ars Nusquam, benevolentia orbis monstro redeo, arx te evangelium. Emo se profundum pes sesquimellesimus Socors ango abeo promitto, pro infecundus re Quid illi aro incrementabiliter Frustro quo Latro pax Ethologus nec Ico ops Fabrico innotesco. Dux sesquialter illum vis derigo, vel Prompte mos Quando ut laxamentum. Ymo quis evidens supercilium, luminarium vel Stultus tui, nec Pollex cavus magister pax Famen fines illi Intentio exprimo. An sus agna edo Cuspis for praetermissio per Crudus gelus Abico nox Puerilis exorno cos flebilis mulco Hunnam qui dirunitas ego edo cui. Camur puer fio tam vae at Curto. Os intempestivus villa nam for nam quater sophisma Amitto suo ars per Polliceor, sedatus os formidilose te has, illi it.</p>  
{% endblock %}
{% block left %}
<img src="/~srohweder/monofone4.0/web/img/s_rohweder.jpg" alt="monofone aka s. rohweder" />
{% endblock %}