{% extends 'layout.twig' %}
{% block content %}
<h2>Vita</h2>
<h3>Berufspraxis</h3>
<dl>
  <dd>Jan 2011 &dash; heute</dd>
  <dt>Softwareentwickler bei der Payone GmbH und Co. KG</dt>
  <dd>Mai 2006 &dash; Dez 2010</dd>
  <dt>
  <p>spot-media AG
Softwareentwickler, seit August 2009 in der Position eines Senior Softwareentwickler
  <ul></ul>
<li>technisch verantwortlicher Entwickler und Projektverantwortung für Maintenance und
  Weiterentwicklung einer im Hause entwickelten Community-Plattform</li>
<li>Softwareentwickler im Bereich Redaktionssysteme und kundenspezifische Lösungen</li>
<li>selbstverantwortliches und zielorientiertes Arbeiten</li>
<li>eigenständiges Erarbeiten neuer Techniken</li>
<li>Kunden- und Qualitätsorientiertes Denken</li></p>
  <p>Im Zusammenhang mit diesen Tätigkeiten werden das Framework symfony(1.0,1.3), PHP 5.2, Apache 2.2
sowie MySQL 5.1 eingesetzt.</p>
  <p>Weiterhin bin ich in der Firma für die Pflege der Vorlagen und Schulung für OpenOffice verantwortlich und
halte in diesem Rahmen Schulungen für die Mitarbeiter aus dem Bereich Projektmanagement ab.</p></dt>
</dl>
<h3>Ausbildung</h3>
<dl>
  <dd>Mär 2002 – Jun 2007</dd>
<dt><p>Studium der technischen Informatik an der HAW Hamburg mit einem
Abschluss des Studiums als Bachelor of Science</p>
<p>Thema der Abschlussarbeit: Mikrocontroller basierte bidirektionale Kommunikation mobiler Endgeräte mit
  Satellitennetzen.</p><p> Gegenstand der Arbeit war es, eine Bluetoothverbindung zu einem Satellitenmodul zu
entwickeln, um eine leichtere Kommunikation zu ermöglichen.</p>
<dd>Jun 2001 – Feb 2002</dd>
<dt>Zivildienst</dt>
<dd>2000 – Apr 2006</dd>
<dt>Selbständige Tätigkeit im Bereich Netzwerkadministration und Webanwendungen unter anderem für die
spot-media AG</dt>
<dd>Feb 1999 – Mär 2001</dd>
<dt>Fachabitur Fachrichtung Metalltechnik</dt>
<dd>Feb 1998 – Okt 1998</dd>
<dt>KälteTech
Ausbildung, danach Angestellter als Kälteanlagenbauer</dt>
<dd>Aug 1994 – Feb 1998</dd>
<dt>Stettin Kälteanlagen/ KälteTech
Ausbildung zum Kälteanlagenbauer</dt>
</dl>
{% endblock %}
{% block left %}
<img src="/img/s_rohweder.jpg" alt="monofone aka s. rohweder" />
{% endblock %}